build/
out/
cmake-build-*/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CMakeSettings.json
CMakePresets.json
CMakeUserPresets.json
compile_commands.json

*.exe
*.out
*.o
*.obj
*.d
*.lib
*.a
*.so
*.dll
*.dylib
*.pdb
*.ilk
*.exp

*.spv

.vs/
*.vcxproj.user
*.suo
*.sln.docstates
x64/
x86/
Debug/
Release/
RelWithDebInfo/
MinSizeRel/

.vscode/

vcpkg_installed/

.DS_Store
Thumbs.db
Desktop.ini